{% translate_default_domain 'page-configuration' %}

<form action="{{ ('configuration.php?setting=cronjob&op=savecronjob&cronid=' ~ cronId)|lotgd_url }}" method="POST" autocomplete="off">
    {{ form}}
</form>
