{% translate_default_domain 'page-configuration' %}

<form action="{{ 'configuration.php?setting=default&save=save'|lotgd_url }}" method="POST" autocomplete="off" class="ui form">
    {{ form }}
</form>
