<div class="ui items segment news-last-motd">
    {% if motd.motdtype %}{# Is a poll #}
        {% block pollItemTpl %}
            {{ include_theme('page/motd/parts/poll.twig', { 'motd': motd }) }}
        {% endblock pollItemTpl %}
    {% else %}
        {% block itemTpl %}
            {{ include_theme('page/motd/parts/item.twig', { 'motd': motd }) }}
        {% endblock itemTpl %}
    {% endif %}
</div>
