###> idmarinas/lotgd-game ###
**/*.dist
.deployer/*.tar
.storage/
/build/
/node_modules/
/.env.docker
/composer.lock
/package*.json

# Ignore local content of LoTGD (except .gitkeep)
/src/local/**
!/src/local/**/
!/src/local/**/.gitkeep
!/src/local/**/README.md

# Ignore all content of storage folder except .gitkeep file
/storage/**
!/storage/**/
!/storage/**/.gitkeep
###< idmarinas/lotgd-game ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/storage/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
