###> lotgd/core ###

# Ignore local config
/config/autoload/local/**
!/config/autoload/local/**/
!/config/autoload/local/.gitkeep
!/config/autoload/local/README.md

# Ignore local content of LoTGD (except .gitkeep)
/src/local/**
!/src/local/**/
!/src/local/**/.gitkeep
!/src/local/**/README.md

# Ignore all content of storage folder except .gitkeep file
/storage/**
!/storage/**/
!/storage/**/.gitkeep

# Other files/folders
cli-config.php
phan.csv
/public/_themes/

# Ignore all files/folders that end in .dist
*.dist
!phpunit.xml.dist
/build/

###< lotgd/core ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###