* text=lf

.deployer/ merge=ours
.docker/ merge=ours
.github/ merge=ours
.idea/ merge=ours
composer.json merge=ours
composer.lock merge=ours
.gitattributes merge=ours
symfony.lock merge=ours
package.json merge=ours
package-lock.json merge=ours

CHANGELOG-dev.md merge=ours
README.md merge=ours
TODO.md merge=ours
TIPS.md merge=ours
COMMANDS merge=ours

gulpfile.js merge=ours
gulp/ merge=ours
docs/ merge=ours

compose.yaml merge=ours
compose.prod merge=ours
compose.override merge=ours
rector.php merge=ours
sonar-project.properties merge=ours
