<?php

/**
 * Use this file to configure the CLI for Doctrine
 *
 * Create/copy "config/autoload/local/dbconnect.php" to same folder in dev repository
 */
use Doctrine\ORM\Tools\Console\ConsoleRunner;

include 'vendor/autoload.php';
//-- Include constants
include 'lib/constants.php';

//-- Autoload annotations
\Doctrine\Common\Annotations\AnnotationRegistry::registerLoader(
    function ($className)
    {
        return class_exists($className);
    }
);

use Lotgd\Core\Fixed\Locator as LotgdLocator;

//-- Prepare service manager
LotgdLocator::setServiceManager(new \Lotgd\Core\ServiceManager());

return ConsoleRunner::createHelperSet(LotgdLocator::get(Doctrine\ORM\EntityManager::class));
