{% trans_default_domain textDomain %}

<table class="ui very basic very compact table">
    {% for row in paginator %}
        <tr>
            <th>{{ '{date,date}'|tmf({ 'date': row.laston }) }}</th>
            <td>{{ row.c|numeral }}</td>
        </tr>
    {% endfor %}
</table>
