<table class='lotgd table charinfo'>
	{% for title, section in charstat %}
		{% include 'jade/templates/character/stathead.twig' with {'title' : title} %}

		{% for name, value in section %}
			{% include 'jade/templates/character/statrow.twig' with {'title': name, 'value': value} %}
		{% endfor %}
	{% endfor %}

	{{ statbuff}}
</table>