{#
    Data avaible in this template

    [
        'stats' => [
            'title' => 'value'
        ]
    ]
 #}

{{ '`$Some stats concerning your account. Note that this in the timezone of the server.`0`n`n'|t|colorize }}

<table class="ui very compact very basic table">
    {% for entry in stats %}
        <tr class="top aligned">
            <td class="collapsing right aligned">{{ ('`q' ~ entry.title ~ '`0')|t|colorize }}</td>
            <td class="left aligned">{{ ('`$' ~ entry.value ~ '`0')|colorize }}</td>
        </tr>
    {% endfor %}
</table>
