
<button class="tags-select" id="button-{{ element.getAttribute('id') }}" type="button">+</button>
{{ laminas_form_input(element) }}

<script>
    /* eslint-disable no-undef */
    var input = document.getElementById('{{ element.getAttribute("id") }}')

    var tagify = Lotgd.tagify(input, {
        autocomplete: {
            enabled: false
        },
        dropdown: {
            enabled: false
        }
    })
    var button = document.getElementById('button-{{ element.getAttribute("id") }}')

    button.addEventListener('click', () =>
    {
        tagify.addEmptyTag()
    })
</script>
