<table class="ui centered center aligned very basic collapsing table">
	<tr>
		<td><img src='images/Medallion-Red.gif' class='noborder'></td>
	</tr>
	<tr>
		<td>
			<table border='0'>
				<tr>
					<td>{{ '`$Sorry, there are too many people online. Click at the link you used to get here later on. Thank you.`0'|t|colorize }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
