{% translate_default_domain 'page-create' %}

<table class="ui centered center aligned very basic collapsing table">
	<tr>
		<td><img src='images/Medallion-Red.gif' class='noborder'></td>
	</tr>
	<tr>
		<td>{{ 'serverfull'|t|colorize }}</td>
	</tr>
</table>
