{% trans_default_domain textDomain %}

<form action="{{ 'user.php?op=search'|lotgd_url }}" autocomplete="off" method="POST" class="flex gap-4 items-center justify-center">
    <div><label for="q">{{ 'default.form.search.label'|trans|colorize }}</label></div>
    <div><input type="text" name="q" id="q"></div>
    <div><button type="submit" class="ui button">{{ 'default.form.search.button.submit'|trans|uncolorize }}</button></div>
</form>

<br>

{% include 'admin/page/user/' ~ tpl|default('default') ~ '.html.twig' %}
