<table border='0' cellpadding='0' cellspacing='0'>
	<tr>
		<td><img src='templates/jade/tlc.gif' width='10' height='15' border='0' alt=''></td>
		<td background='templates/jade/tm.gif'><img src='templates/jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td><img src='templates/jade/trc.gif' width='10' height='15' border='0' alt=''></td>
	</tr>
	<tr>
		<td background='templates/jade/tlt.gif'><img src='templates/jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td valign='top' bgcolor='#003800'>{{ content }}</td>
		<td background='templates/jade/trt.gif'><img src='templates/jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
	</tr>
	<tr>
		<td><img src='templates/jade/blc.gif' width='10' height='12' border='0' alt=''></td>
		<td background='templates/jade/btm.gif'><img src='templates/jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td><img src='templates/jade/brc.gif' width='10' height='12' border='0' alt=''></td>
	</tr>
</table>