{% for section, nav in navigation %}
    {% set header = headers[section] %}
    <span class="navhead">&#151;{{ section|t(header.params ?: {}, header.textDomain) }}&#151;</span>
    <br clear='all'>
    {% for label in nav %}
        {{ navigation_create_link(label, navs[label]) }}
        <br clear='all'>
    {% endfor %}
{% endfor %}
