{% translate_default_domain 'app-default' %}

<a href="petition.php" target="_blank" id="petition-embed" class="motd" data-force="true" onclick="Lotgd.embed(this)">
    <b>{{ 'parts.petition.help'|t|colorize }}</b>
</a>
