<div class="ui form">
	<div class="inline field">
		<label>Enter your character's name:</label>
		<input type='text' name='charname'>
	</div>
	<input type="submit" class="ui primary button" value="{{ sendbutton }}">
</div>