{% translate_default_domain textDomain %}

{{ 'section.haunt.paragraph'|t({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}

<form action="{{ 'graveyard.php?op=haunt2'|lotgd_url }}">
    <div class="field">
        <label for="name">{{ 'section.haunt.form.label.name'|t|colorize }}</label>
        <div class="ui action input">
            <input type="text" name="name" id="name">
            <button class="ui button" type="submit">{{ 'section.haunt.form.button.submit'|t|uncolorize }}</button>
        </div>
    </div>
</form>
