{% extends '@LotgdUi/layout/classic.html.twig' %}

{% block lotgd_head_title %}{{ 'title.setup'|trans({}, translator_domain) }}{% endblock %}

{% block lotgd_body_content %}
    {% trans_default_domain translator_domain %}

    <h3>{{ 'setup.title'|trans|colorize }}</h3>

    {# This apply tabs theme only for this form #}
    {# {% form_theme form 'form/semantic-ui-tabs-form-theme.html.twig' %} #}

    {# {{ form(form) }} #}
{% endblock lotgd_body_content %}
