<?php
//this is a standard template for use as notifier for you if you want to email yourself the error code. BE WARNED! if you have a heavy frequented page you will get hundreds of mails! I suggest creating (touch) a file that you manually delete once you fixed the problem ... this will save you LOTS of trouble!
//you may also log stuff somewhere and so forth, but I won't provide you the code... if you are skilled enough, it won't be much work...

//if you don't know what to do: add here your email address:
$emailaddress='YOURADDRESS.YOURDOMAIN.COM';
//now you won't have to do anything except removing the .dist at the end of this file

$subject='Database Connection Error!';
mail($emailaddress,$subject,$smsmessage);
	
?>
