<table class="ui center aligned very basic collapsing table">
	<tr>
		<td><img src='images/serverfull.jpg' class='noborder'></td>
	</tr>
	<tr>
		<td>
			<table border='0'>
				<tr>
					<td align='center'><font color='#ff0000'>{{ 'Server Full!'|t }}</font></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
