{% translate_default_domain 'page-armoreditor' %}

<form action="{{ ('armoreditor.php?op=save&level=' ~ armorLevel)|lotgd_url }}" method="POST" autocomplete="off">
    {{ form }}
    <div class="field">
        <button class="ui button" type="submit">{{ 'form.button.submit'|t|uncolorize }}</button>
    </div>
</form>
