# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    lotgd_core.doctrine_prefix: "%env(DATABASE_PREFIX)%"
    lotgd_core.number.format.decimal.point: '.'
    lotgd_core.number.format.thousands.sep: ','
    doctrine.orm.entity_manager.class: Lotgd\Core\Doctrine\ORM\EntityManager

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    Lotgd\Core\:
        resource: "../src/core/"
        exclude:
            - "../src/core/DependencyInjection/"
            - "../src/core/Exception/"
            - "../src/core/Fixed/"
            - "../src/core/Entity/"
            - "../src/core/Pattern/"
            - "../src/core/Tests/"
            - "../src/core/Twig/Loader/LotgdFilesystemLoader.php"
            - "../src/core/Twig/Node/"
            - "../src/core/Twig/NodeVisitor/"
            - "../src/core/Twig/TokenParser/"
            - "../src/core/Application.php"
            - "../src/core/EventManagerAware.php"
            - "../src/core/EventManager/EventManager.php"
            - "../src/core/ExpressionLanguage/BattleProvider.php"
            - "../src/core/Fixed/HookManager.php"
            - "../src/core/Twig/Extension/AdvertisingGoogle.php"
            - "../src/core/Hook.php"
            - "../src/core/Kernel.php"
            - "../src/core/Service/Jaxon.php"
    Lotgd\Local\:
        resource: "../src/local/"
        exclude:
            - "../src/local/DependencyInjection/"
            - "../src/local/Exception/"
            - "../src/local/Fixed/"
            - "../src/local/Entity/"
            - "../src/local/Tests/"
            - "../src/local/Twig/Node/"
            - "../src/local/Twig/NodeVisitor/"
            - "../src/local/Twig/TokenParser/"

    Lotgd\Core\Installer\Command\:
        resource: "../src/core/Installer/Command"
        tags: ['console.command']

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    Lotgd\Core\Controller\:
        resource: '../src/core/Controller/'
        tags: ['controller.service_arguments']

    Lotgd\Core\Controller\AboutController:
        calls:
            - setBundles: [ "@=service('kernel').getBundles()" ]

    Lotgd\Local\Controller\:
        resource: '../src/local/Controller/'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # Doctrine Extension listeners to handle table prefix
    lotgd.core.doctrine.listener.table_prefix:
        class: Lotgd\Core\Doctrine\Extension\TablePrefix
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        arguments:
            - "%lotgd_core.doctrine_prefix%"

    # View Laminas Service
    Laminas\View\Helper\HeadLink:
        public: true
    Laminas\View\Helper\HeadMeta:
        public: true
        calls:
            - setView: ['@Laminas\View\Renderer\PhpRenderer']
    Laminas\View\Helper\HeadScript:
        public: true
    Laminas\View\Helper\HeadStyle:
        public: true
    Laminas\View\Helper\HeadTitle:
        public: true
    Laminas\View\Helper\InlineScript:
        public: true
    Laminas\View\Renderer\PhpRenderer: ~ # Laminas\View\Helper\HeadMeta

    # Output
    Lotgd\Core\Output\Code:
        public: true
    Lotgd\Core\Output\Color:
        public: true
    Lotgd\Core\Output\Format:
        public: true
        arguments:
            - '@translator'
            - '@Lotgd\Core\Output\Code'
            - '@Lotgd\Core\Output\Color'
        calls:
            - setDecPoint: ['%lotgd_core.number.format.decimal.point%']
            - setThousandsSep: ['%lotgd_core.number.format.thousands.sep%']
    Lotgd\Core\Output\Censor:
        lazy: true
        arguments:
            - '%kernel.default_locale%'
            - '%kernel.project_dir%'
    lotgd_core.censor:
        alias: Lotgd\Core\Output\Censor
        public: true
    Lotgd\Core\Output\Commentary:
        lazy: true
        public: true

    # LoTGD Installer
    Lotgd\Core\Installer\Install:
        lazy: true
    lotgd.core.install:
        alias: Lotgd\Core\Installer\Install
        public: true

    # LoTGD Settings
    Lotgd\Core\Lib\Settings:
        public: true
    lotgd_core.settings:
        alias: Lotgd\Core\Lib\Settings
        public: true

    # LoTGD PvP
    Lotgd\Core\Pvp\Listing:
        public: true
        lazy: true
    Lotgd\Core\Pvp\Warning:
        public: true
        lazy: true
    Lotgd\Core\Pvp\Support:
        public: true
        lazy: true

    # LoTGD Tools
    Lotgd\Core\Tool\Sanitize:
        public: true
    lotgd.core.sanitize:
        alias: Lotgd\Core\Tool\Sanitize
        public: true
    lotgd.core.log:
        alias: Lotgd\Core\Log
        public: true
    lotgd.core.tools:
        alias: Lotgd\Core\Tool\Tool
        public: true
    lotgd_core.tool.date_time:
        alias: Lotgd\Core\Tool\DateTime
        public: true
    Lotgd\Core\Tool\PlayerFunction:
        lazy: true
    lotgd_core.tool.player_functions:
        alias: Lotgd\Core\Tool\PlayerFunction
        public: true
    Lotgd\Core\Tool\CreatureFunction:
        lazy: true
    lotgd_core.tool.creature_functions:
        alias: Lotgd\Core\Tool\CreatureFunction
        public: true
    Lotgd\Core\Tool\Staff:
        lazy: true
    lotgd_core.tool.staff:
        alias: Lotgd\Core\Tool\Staff
        public: true
    Lotgd\Core\Tool\Validator:
        lazy: true
    lotgd_core.tool.validator:
        alias: Lotgd\Core\Tool\Validator
        public: true
    Lotgd\Core\Tool\SystemMail:
        lazy: true
        calls:
            - setMailer: ['@mailer']
    lotgd_core.tool.system_mail:
        alias: Lotgd\Core\Tool\SystemMail
        public: true

    # LoTGD navigation
    Lotgd\Core\Navigation\AccessKeys:
        public: true

    # Lotgd
    Lotgd\Core\Character\Stats:
        public: true
    Lotgd\Core\Navigation\Navigation:
        public: true
        calls:
            - setClassHeader: ['header']
            - setClassNav: ['nav']
    Lotgd\Core\Http\Request:
        public: true
        class:   Lotgd\Core\Http\Request
        factory: '@Lotgd\Core\Service\HttpRequestFactory'
    Lotgd\Core\Http\Response:
        public: true
    Lotgd\Core\Template\Params:
        public: true
    lotgd.core.mailer: # Temporal
        alias: mailer
        public: true
    Lotgd\Core\Symfony\Translation\Formatter\MessageFormatter:
        arguments:
            - '@identity_translator'
    Symfony\Component\HttpFoundation\Response: # Temporal
        alias: Lotgd\Core\Http\Response
    Symfony\Component\HttpFoundation\Request: # Temporal
        alias: Lotgd\Core\Http\Request
    Lotgd\Core\Tool\Backup:
        lazy: true
    lotgd.core.backup:
        alias: Lotgd\Core\Tool\Backup
        public: true
    lotgd.serializer.denormalizer: # Temporal
        alias: Symfony\Component\Serializer\Normalizer\DenormalizerInterface
        public: true
    # Kit\CryptBundle\Service\OpensslService:
    #     lazy: true
    Kit\CryptBundle\Service\OpensslService:
        arguments:
            - '%kit_crypt.clients%'
        lazy: true
        public: true
    Lotgd\Core\Service\Cron\ContentCleanService:
        public: true
    Lotgd\Core\Service\Cron\AvatarCleanService:
        public: true
    lotgd_core.service.server_functions:
        alias: Lotgd\Core\Service\ServerFunction
        public: true
    Lotgd\Core\Service\PageParts:
        public: true
    session.notifications_bag:
        alias: Lotgd\Core\Bag\NotificationsBag
        public: true
    lotgd_http_client:
        alias: Symfony\Contracts\HttpClient\HttpClientInterface
        public: true

    # Twig extensions
    Marek\Twig\ByteUnitsExtension:
        tags:
            - { name: twig.extension }

    # Blocks
    lotgd_core.service.paypal.buttons:
        class: Lotgd\Core\Service\PaypalButtons
        tags:
            - { name: kernel.event_listener, event: sonata.block.event.lotgd_core.paypal, method: onBlock }

    # Combat
    Lotgd\Core\Combat\Buffer:
        lazy: true
    lotgd_core.combat.buffer:
        alias: Lotgd\Core\Combat\Buffer
        public: true
    Lotgd\Core\Combat\TempStat:
        lazy: true
    lotgd_core.combat.temp_stats:
        alias: Lotgd\Core\Combat\TempStat
        public: true
    Lotgd\Core\Combat\Battle:
        lazy: true
    lotgd_core.combat.battle:
        alias: Lotgd\Core\Combat\Battle
        public: true
