{% translate_default_domain 'app-default' %}

<span> | </span>
{% if user.login %}
    {% set icon = '' %}
    {% if notSeenCount %}
        {% set icon = '<i aria-hidden="true" class="green mail icon"></i>' %}
    {% endif %}
    <a id="mail-button" class="ui tertiary button hotmotd" onclick="JaxonLotgd.Ajax.Core.Mail.inbox(); $(this).addClass('loading disabled')">
        {{ icon }}
        <span id="ye-olde-mail-count-text">{{ 'parts.mail.title'|t({'new': notSeenCount, 'old': seenCount}) }}</span>
    </a>
    <script>
        /* global JaxonLotgd */
        window.setInterval(function () { JaxonLotgd.Ajax.Core.Mail.status() }, 15000)
    </script>
    {% if icon %}
        <script>
            /* global $ */
            $('.green.mail.icon').transition('set looping').transition('pulse', 1000)
        </script>
    {% endif %}
{% else %}
    <a class="ui tertiary button disabled">{{ 'parts.mail.anonymous'|t|colorize }}</a>
{% endif %}
