<div role="navigation">
    {% for section, nav in navigation if nav|length > 0 or headers[section]['hiddeEmpty'] == false %}
        {% set sectionText = navigation_create_header(section, headers[section]) %}
        {% if sectionText %}
            {{ sectionText }}
            <br clear="all">
        {% endif %}

        {% for key, label in nav %}
            {% set navText = navigation_create_link(label, navs[section][key]) %}
            {% if navText %}
                {{ navText }}
                <br clear="all">
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
