{% translate_default_domain 'app-default' %}

<a id="button-source" class="ui tertiary basic button" onclick="JaxonLotgd.Ajax.Core.Source.show(); $(this).addClass('loading disabled')"> {{ 'parts.source.title'|t }} </a>
