{% translate_default_domain 'app-default' %}

<span> | </span>
<a id="petition-button" class="ui tertiary button motd" onclick="JaxonLotgd.Ajax.Core.Petition.help(); $(this).addClass('loading disabled')">
    <strong>{{ 'parts.petition.help'|t|colorize }}</strong>
</a>
