/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/**
 * LoTGD
 * No need change nothing here.
 */

/*******************************
    Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'core';
@reset      : 'core';

/* Elements */
@button     : 'core';
@container  : 'core';
@divider    : 'core';
@emoji      : 'core';
@flag       : 'core';
@header     : 'core';
@icon       : 'core';
@image      : 'core';
@input      : 'core';
@label      : 'core';
@list       : 'core';
@loader     : 'core';
@placeholder: 'core';
@rail       : 'core';
@reveal     : 'core';
@segment    : 'core';
@step       : 'core';
@text       : 'core';

/* Collections */
@breadcrumb : 'core';
@form       : 'core';
@grid       : 'core';
@menu       : 'core';
@message    : 'core';
@table      : 'core';

/* Modules */
@accordion  : 'core';
@calendar   : 'core';
@checkbox   : 'core';
@dimmer     : 'core';
@dropdown   : 'core';
@embed      : 'core';
@modal      : 'core';
@nag        : 'core';
@popup      : 'core';
@progress   : 'core';
@slider     : 'core';
@rating     : 'core';
@search     : 'core';
@shape      : 'core';
@sidebar    : 'core';
@sticky     : 'core';
@tab        : 'core';
@toast      : 'core';
@transition : 'core';

/* Views */
@ad         : 'core';
@card       : 'core';
@comment    : 'core';
@feed       : 'core';
@item       : 'core';
@statistic  : 'core';

/* Custom components */
/* @name: 'core'; */

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'css';

/* Path to site override folder */
@siteFolder  : 'css/site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
