<div class="ui {{ class }} message">
    {% if close %}
        <i class="close icon"></i>
    {% endif %}

    {% if header %}
        <div class="header">{{ header }}</div>
    {% endif %}
    <p>{{ message }}</p>
</div>
