<div class="ui {{ addClass ~ ' ' ~ class }} message">
    {% if close %}
        <i class="close icon"></i>
    {% endif %}

    {% if icon %}
        <i class="{{ icon }} icon"></i>
    {% endif %}

    <div class="content">
        {% if header %}
            <div class="header">{{ header }}</div>
        {% endif %}
        <p>{{ message }}</p>
    </div>
</div>
