<!-- Ventanas popup -->
<!--!popuphead-->
<!DOCTYPE html>
<html lang="{lang}">
	<head>
		<title>{title}</title>
		<link href='templates/font-awesome.min.css' rel='stylesheet' type='text/css'>
		<link href='templates/dragon_verde.css' rel='stylesheet' type='text/css'>
		{headscript}{script}
	</head>
	<body>
		<table id="popup">
			<tr class="wrapper">
				<td>
					<h2>{title}</h2>
					<!--!popupfoot-->
				</td>
			</tr>
			<tr>
				<td>{copyright}
					<br />Piel Dragón Verde por Iván D.M,
					<a href="http://dragonverde.infommo.es">InfoMMO</a>
				</td>
			</tr>
		</table>
	</body>

</html>
<!-- Páginas -->
<!--!header-->
<!DOCTYPE html>
<html>
	<head>
		<title>{title}</title>
		<link href='templates/font-awesome.min.css' rel='stylesheet' type='text/css'>
		<link href='templates/dragon_verde.css' rel='stylesheet' type='text/css'>
		<!-- Scripts para la página -->{headscript}{script}</head>
	<body>
		<table id="dragon-container">
			<tbody>
			<tr id="dragon-header">
				<td>
					<table>
						<tr>
							<td id="dragon-motd">
								<br>
								<br></td>
							<td id="dragon-banner">{headerad}</td>
						</tr>
					</table>
				</td>
				<td id="img-medallon">
					<img src="templates/dragon/top-center-green.png" alt="Medallón Verde" width="248" height="90">
				</td>
			</tr>
			<!-- Contenido -->
			<tr>
				<td colspan="2">
					<table id="dragon-content">
						<tr>
							<td rowspan="2" id="dragon-navigation">{nav}<p>&nbsp;</p>{navad}</td>
							<td colspan="2" class="menu text-right">
								{motd} 
								<i class="fa fa-fw fa-angle-double-right"></i> {petition} 
								<i class="fa fa-fw fa-angle-double-right"></i> {mail} 
								{petitiondisplay}
							</td>				
						</tr>
						<tr>
							<td id="dragon-contain">
								<h2>{title}</h2>
								<!--!footer-->
							</td>
							<td id="dragon-stats">{stats}
								<p>&nbsp;</p>{paypal}</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr id="dragon-footer">
				<td>
					<div>
						Piel Dragón Verde por Iván D.M, <a href="http://dragonverde.infommo.es">InfoMMO</a>, Basado en DragonLeather skin by Caveman Joe .
						<span class="pull-right">{source}</span>
					</div>
					<div class="padding2">
						<span class="pull-left">{version}</span>
						<span class="pull-right">{pagegen}</span>
					</div>
					<div class="padding2">{copyright}</div>
				</td>
				<td class="padding0">
					<img src="templates/dragon/bottom-center.png" alt="Cierra del medallón" width="248" height="85">
				</td>
			</tr>
			</tbody>
		</table>
	</body>

</html>
<!-- Para mostrar las estadísticas -->
<!--!statstart-->
<table class='charinfo statstart'>
	<!--!stathead-->
	<thead>
		<tr>
			<th class='charhead' colspan='2'>
				<b>{title}</b>
			</th>
		</tr>
	</thead>
	<!--!statrow-->
	<tr>
		<td class='charinfo'>
			<b>{title}</b>
		</td>
		<td class='charinfo'>{value}</td>
	</tr>
	<!--!statbuff-->
	<tr>
		<td class='charhead' colspan='2'>
			<b>{title}:</b>
		</td>
	</tr>
	<tr>
		<td class='charinfo' colspan='2'>{value}</td>
	</tr>
	<!--!statend-->
</table>

<!-- Para la navegación -->

<!--!navhead-->
<div class="navhead">{title}</div>
<!--!navhelp-->
<span class="navhelp">{text}</span>
<br clear='all'>
<!--!navitem-->
<a href="{link}" {accesskey}class='nav' {popup}><i class="fa fa-angle-double-right fa-fw"></i>{text}</a>
<br clear='all'>
<!--!petitioncount-->
{petitioncount}
<!-- Contenedor para un anuncio -->
<!--!adwrapper-->
<table class="adwrapper">
	<tr>
		<td valign='top' bgcolor='#222222'>{content}</td>
	</tr>
</table>
<!-- Cuadro de conexión -->
<!--!login-->
<table id="login">
	<tr>
		<td colspan="2" class="text-center padding0">
			<img src='images/7.png' width="199" height="207">
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<p>{username}</p>
			<input class="block" type="text" name='name' id='name' accesskey='u'>
		</td>
		<td class="text-center">
			<p>{password}</p>
			<input class="block" type='password' name='password' id='password' accesskey='p'>
		</td>
	</tr>
	<tr>
		<td colspan='2' align='center'>
			<input type='submit' value='{button}' class='button'>
			<br>
		</td>
	</tr>
</table>
<!--!loginfull-->
<table id="loginfull">
	<tr>
		<td class="text-center">
			<img src='images/4.png' width="199" height="207">
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<font color='#ff0000'>
				Server Full!<br>
				¡Servidor lleno!
			</font>
		</td>
	</tr>
</table>