<!-- Ventanas popup -->
<!--!popuphead-->
<!DOCTYPE html>
<html lang="{lang}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="imagetoolbar" content="false">
		<meta http-equiv="Window-target" content="_top">
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Language" content="es">
		
		<title>{title}</title>
		<link href='templates/font-awesome.min.css' rel='stylesheet' type='text/css'>
		<link href='templates/animate.min.css' rel='stylesheet' type='text/css'>
		<link href='templates/dragon_verde.css' rel='stylesheet' type='text/css'>
		<script src="templates/jquery.js"></script>
		{headscript}{script}
		<script src="templates/dragon.min.js"></script>
	</head>
	<body>
		<table>
			<tr id="popup">
				<td class="wrapper">
					<h3>{title}</h3>
					<!--!popupfoot-->
				</td>
			</tr>
			<tr id="dragon-footer">
				<td>
					<div class="padding2">
						Piel Dragón Verde por Iván D.M, <a href="http://www.infommo.es">InfoMMO</a>, Basado en DragonLeather skin by Caveman Joe .
					</div>
					<div class="padding2">{copyright}</div>
				</td>
			</tr>
		</table>
	</body>
</html>
<!-- Páginas -->
<!--!header-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="imagetoolbar" content="false">
		<meta http-equiv="Window-target" content="_top">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Language" content="es">
		<meta name="description" content="Bienvenido a la Leyenda del Dragón Verde, un juego de rol de navegador, basado en Legend of the Red Dragon de Seth Able. Busca y derrota al temible Dragón Verde.">
		
		<!-- Meta datos Open Graph -->
		<meta property="og:title" content="La Leyenda del Dragón Verde">
		<meta property="og:image" content="http://dragonverde.infommo.es/images/Medallion-Green.gif">
		<meta property="og:type" content="website">
		<meta property="og:description" content="Bienvenido a la Leyenda del Dragón Verde, un juego de rol de navegador, basado en Legend of the Red Dragon de Seth Able. Busca y derrota al temible Dragón Verde.">
		<meta property="og:url" content="http://dragonverde.infommo.es">
		<meta property="og:locale" content="es_ES">
		
		<title>{title}</title>
		<link href='templates/font-awesome.min.css' rel='stylesheet' type='text/css'>
		<link href='templates/animate.min.css' rel='stylesheet' type='text/css'>
		<link href='templates/dragon_verde.css' rel='stylesheet' type='text/css'>
		<script src="templates/jquery.js"></script>
		<!-- Scripts para la página -->
		{headscript}{script}
		<script src="templates/dragon.min.js"></script>
		
		<!-- INICIO Consentimiento de Cookies -->
		<script src='templates/jqueryCookieGuard.1.1.0.js'></script>
		<script>
		  // $(document).ready(function(){
		    // $.cookieguard();
		    // $.cookieguard.cookies.add('PHP Session', 'PHPSESSID', 'This cookie is used to track important logical information for the smooth operation of the site', true);
		    // $.cookieguard.cookies.add('Google Analytics', '__utma,__utmb,__utmc,__utmz,__utmv,__utmt', 'These cookies are used to collect information about how visitors use our site. We use the information to compile reports and to help us improve the site. The cookies collect information in an anonymous form, including the number of visitors to the site, where visitors have come to the site from and the pages they visited.', true);
		    // $.cookieguard.run();
		  // });
		</script>
		<!-- FIN Consentimiento de Cookies -->
	</head>
	<body>
		<table id="dragon-container">
			<tbody>
			<tr id="dragon-header">
				<td>
					<table>
						<tr>
							<td>&nbsp;</td>
							<td id="dragon-banner">{headerad}</td>
						</tr>
					</table>
				</td>
				<td id="img-medallon">
					<img src="templates/dragon/top-center-green.png" alt="Medallón Verde" width="248" height="90">
				</td>
			</tr>
			<!-- Contenido -->
			<tr>
				<td colspan="2">
					<table id="dragon-content">
						<tr>
							<td rowspan="2" id="dragon-navigation">{nav}<p class="navhead navad">&nbsp;</p>{navad}</td>
							<td colspan="2" class="menu text-right">
								{motd} 
								<i class="fa fa-fw fa-angle-double-right"></i> {petition} 
								<i class="fa fa-fw fa-angle-double-right"></i> {mail} 
								{petitiondisplay}
							</td>				
						</tr>
						<tr>
							<td id="dragon-contain">
								<h2>{title}</h2>
								<!--!footer-->
							</td>
							<td id="dragon-stats">{stats}
								<p>&nbsp;</p>{paypal}</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr id="dragon-footer">
				<td>
					<div>
						Piel Dragón Verde por Iván D.M, <a href="http://www.infommo.es">InfoMMO</a>, Basado en DragonLeather skin by Caveman Joe .
						<span class="pull-right">{source}</span>
					</div>
					<div class="padding2">
						<span class="pull-left">{version} | <a href="http://www.infommo.es/disclaimers#Privacy">Política de privacidad</a></span>
						<span class="pull-right">{pagegen}</span>
					</div>
					<div class="padding2">{copyright}</div>
				</td>
				<td class="padding0">
					<img src="templates/dragon/bottom-center.png" alt="Cierra del medallón" width="248" height="85">
				</td>
			</tr>
			</tbody>
		</table>
	</body>

</html>
<!-- Para mostrar las estadísticas -->
<!--!statstart-->
<table class='charinfo statstart'>
	<!--!stathead-->
	<thead>
		<tr>
			<th class='charhead' colspan='2'>
				<b>{title}</b>
			</th>
		</tr>
	</thead>
	<!--!statrow-->
	<tr>
		<td class='charinfo'>
			<b>{title}</b>
		</td>
		<td class='charinfo'>{value}</td>
	</tr>
	<!--!statbuff-->
	<tr>
		<td class='charhead' colspan='2'>
			<b>{title}:</b>
		</td>
	</tr>
	<tr>
		<td class='charinfo' colspan='2'>{value}</td>
	</tr>
	<!--!statend-->
</table>

<!-- Para la navegación -->

<!--!navhead-->
<div class="navhead">{title}</div>
<!--!navhelp-->
<span class="navhelp">{text}</span>
<br clear='all'>
<!--!navitem-->
<a href="{link}" {accesskey}class='nav' {popup}><i class="fa fa-angle-double-right fa-fw"></i>{text}</a>
<br clear='all'>
<!--!petitioncount-->
{petitioncount}
<!-- Contenedor para un anuncio -->
<!--!adwrapper-->
<table class="adwrapper">
	<tr>
		<td valign='top' bgcolor='#222222'>{content}</td>
	</tr>
</table>
<!-- Cuadro de conexión -->
<!--!login-->
<table id="login">
	<tr>
		<td colspan="2" class="text-center padding0">
			<img src='images/7.png' width="199" height="207">
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<p>{username}</p>
			<input class="block" type="text" name='name' id='name' accesskey='u'>
		</td>
		<td class="text-center">
			<p>{password}</p>
			<input class="block" type='password' name='password' id='password' accesskey='p'>
		</td>
	</tr>
	<tr>
		<td colspan='2' align='center'>
			<input type='submit' value='{button}' class='button'>
			<br>
		</td>
	</tr>
</table>
<!--!loginfull-->
<table id="loginfull">
	<tr>
		<td class="text-center">
			<img src='images/4.png' width="199" height="207">
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<font color='#ff0000'>
				Server Full!<br>
				¡Servidor lleno!
			</font>
		</td>
	</tr>
</table>