<script type='text/javascript'>
	$(window).ready(function()
	{
		set_mail_xajax();
		window.setTimeout('set_timeout_xajax()','{{ set_timeout }}');

		window.setTimeout('clear_xajax()','{{ clear_xajax }}');
	});

	function set_mail_xajax()
	{
		active_mail_interval=window.setInterval('xajax_mail_status(this.document.getElementById(\'maillink\').innerHTML);',15000);
	}

	function set_timeout_xajax()
	{
		active_timeout_interval=window.setInterval('xajax_timeout_status(this.document.getElementById(\'notify\').innerHTML);',1000);
	}

	function clear_xajax() {
		window.clearInterval(active_timeout_interval);
		window.clearInterval(active_mail_interval);
	}
</script>