{% trans_default_domain textDomain %}

<form action="{{ 'creatures.php?op=edit&subop=module&creatureid=' ~ creatureId ~ '&module=' ~ module }}" method="POST" autocomplete="off">
    {{ form }}
</form>
