{% translate_default_domain 'app-default' %}

<span> | </span>
<a id="petition-button" class="ui tertiary basic button motd" onclick="JaxonLotgd.Ajax.Core.Petition.help(); $(this).addClass('loading disabled')">
    {{ 'parts.petition.help'|t|colorize }}
</a>
