<tr>
    <td>
        <table class="lotgd table">
            <tr>
                <td class="border tlc"></td>
                <td class="border tm"></td>
                <td class="border trc"></td>
            </tr>
            <tr>
                <td class="border tlt"></td>
                <td class="top aligned">
                    <table class="lotgd table">
                        <tr>
                            <td class="top aligned">{{ game_copyright() }} <br> Design: Jade Template &copy; Josh Canning 2004 of <a href='http://hfs.cjb.net/' target="_blank" rel="noopener noreferrer">HFS</a></td>
                            <td class="top aligned right aligned collapsing">{{ game_source() }}<br />{{ game_version() }}<br />{{ game_page_gen() }}</td>
                        </tr>
                    </table>
                </td>
                <td class="border trt"></td>
            </tr>
            <tr>
                <td class="border blc"></td>
                <td class="border btm"></td>
                <td class="border brc"></td>
            </tr>
        </table>
    </td>
</tr>
