
/**
 * Colors used by the game
 */
.colDkBlue { color: @colDkBlue; }
.colDkGreen { color: @colDkGreen; }
.colDkCyan { color: @colDkCyan; }
.colDkRed { color: @colDkRed; }
.colDkMagenta { color: @colDkMagenta; }
.colDkYellow { color: @colDkYellow; }
.colDkWhite { color: @colDkWhite; }
.colLtBlue { color: @colLtBlue; }
.colLtGreen { color: @colLtGreen; }
.colLtCyan { color: @colLtCyan; }
.colLtRed { color: @colLtRed; }
.colLtMagenta { color: @colLtMagenta; }
.colLtYellow { color: @colLtYellow; }
.colLtWhite { color: @colLtWhite; }
.colLtBlack { color: @colLtBlack; }
.colDkOrange { color: @colDkOrange; }
.colLtOrange { color: @colLtOrange; }
.colBlue { color: @colBlue; }
.colLime { color: @colLime; }
.colBlack { color: @colBlack; }
.colRose { color: @colRose; }
.colblueviolet { color: @colblueviolet; }
.coliceviolet { color: @coliceviolet; }
.colLtBrown { color: @colLtBrown; }
.colDkBrown { color: @colDkBrown; }
.colXLtGreen { color: @colXLtGreen; }
.colLtLinkBlue { color: @colLtLinkBlue; }
.colDkLinkBlue { color: @colDkLinkBlue; }
.colDkRust { color: @colDkRust; }
.colLtRust { color: @colLtRust; }
.colMdBlue { color: @colMdBlue; }
.colMdGrey { color: @colMdGrey; }
.colbeige { color: @colbeige; }
.colkhaki { color: @colkhaki; }
.coldarkkhaki { color: @coldarkkhaki; }
.colaquamarine { color: @colaquamarine; }
.coldarkseagreen { color: @coldarkseagreen; }
.collightsalmon { color: @collightsalmon; }
.colsalmon { color: @colsalmon; }
.colwheat { color: @colwheat; }
.coltan { color: @coltan; }
.colburlywood { color: @colburlywood; }

/*------------------
 Translation links
-------------------*/
a
{
	&.t
	{
		width: @lotgdTlinkWidth;
		height: @lotgdTlinkHeight;
		border: @lotgdTlinkBorder;
		background-color: @lotgdTlinkBgColor;
		color: @lotgdTlinkTextColor;
		font-size: @lotgdTlinkFontSize;
		text-decoration: @lotgdTlinkTexDecoration;
		padding: @lotgdTlinkPadding;
	}

	&.thot
	{
		width: @lotgdTlinkHotWidth;
		height: @lotgdTlinkHotHeight;
		border: @lotgdTlinkHotBorder;
		background-color: @lotgdTlinkHotBgColor;
		color: @lotgdTlinkHotTextColor;
		font-size: @lotgdTlinkHotFontSize;
		text-decoration: @lotgdTlinkHotTexDecoration;
		padding: @lotgdTlinkHotPadding;
	}
}
.nav a.thot
{
	position: absolute;
	left: 0px;
	height: auto;
}
&.nav a.t
{
	position: absolute;
	left: 0px;
	height: auto;
}

/*-----------
       Debug
-------------*/
div.debug
{
	background-color: @lotgd_debugBgColor;
	color: @lotgd_debugTextColor;
	font-size: @lotgd_debugFontSize;
	border: @lotgd_debugBorder;
	width: @lotgd_debugWidth;
	height: @lotgd_debugHeight;

	pre
	{
		margin: 0;
    	white-space: normal;
	}
}

/**/
.navhi
{
	color: @lotgd_navhiTextColor;
	text-decoration: @lotgd_navhiTextDecoration;
}
