{% translate_default_domain 'page-home' %}

<div class="ui header">{{ 'serverfull.message'|t|colorize }}</div>
<table class="ui centered center aligned very basic collapsing table">
	<tr>
		<td><img src='images/Medallion-Red.gif' class='noborder'></td>
	</tr>
	<tr>
        <td class="center aligned">{{ 'serverfull.wait'|t|colorize }}</td>
	</tr>
</table>
